doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Caveat:wght@400;500;600;700&family=Jost:ital,wght@0,200;0,700;1,300;1,500&family=Klee+One&family=Lexend:wght@100&family=Ma+Shan+Zheng&family=Mooli&display=swap" rel="stylesheet")
    link(rel="stylesheet", href="./icon/style.css")
    link(href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet")
    script(src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous")
    script(defer src="./index.js") 
    link(rel="stylesheet", href="./index.css")
    title ShenQ Iphone
    link(rel="shortcut icon", href="./img/Mark/16Mark.png")
    link(rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css")
    meta(name='viewport' content='width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1')
    script(src="https://unpkg.com/aos@2.3.1/dist/aos.js")
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css")
    script(src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js")
  body
    nav.rightBar
      .topLine
        .minLine
      //- .bottomLine
      .buttonBox
        .buttonInside
          .button1.buttonStyle.font 
            p 新增錯誤
          .button2.buttonStyle.font 
            p 旋轉手機
          .button3.buttonStyle.font 
            p 更換顏色
          .button4.buttonStyle.font 
            p 擴充鍵



    main.indexBox 
      .iphoneOutside
        //- .soundUp.buttonLeftSize
        //- .soundDown.buttonLeftSize
        //- .close.buttonRightSize
        .iphoneBlackSide 
          .microphone
            .sound
            .lens
          .iphoneInSide
            .indexNo1
              .telecommunications 遠傳電信
              .wifi.icon-connection
              .settingLine
              .times
                .dateTop
                  .month
                .dateDown
                  .hour.timeFont
              .shortcutKey
                .key1.iconKey
                  .mask
                  .icon-chrome.iconColor
                .key2.iconKey
                  .mask
                  .icon-skype.iconColor
                .key3.iconKey
                  .mask
                  .icon-github.iconColor
              .messageBox
                .title 
                  p 通知中心
                  span ×
                .message
                  p 123
              .shortcutBottom
                .light.iconKey1
                  .icon-facebook21.iconWhite
                  .whiteMask
                .cam.iconKey1
                  .icon-camera.iconWhite
                  .whiteMask
              .bottomLine

      .back 
        .backButton 
          .backInside
            .backLens
              .lens1
                .insideLens
              .lens2 
                .insideLens
              .bigLight
              .smallLight
            .picApple
              img(src="./img/apple.png", alt="")
        
      .left
        .mute1
        .muteBox
        .soundPlus 
          p +
        .soundMinus 
          p -
      .right
        .text
          p ◎
      .top 
      .bottom
        