* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Young Serif", serif;
}

body {
  padding: 0;
  margin: 0;
  background-color: #8b8181;
}

.timeFont {
  font-family: "Black Ops One";
}

.buttonLeftSize {
  width: 1.4925373134%;
  height: 8.4615384615%;
  border-radius: 10px 0 0 10px;
  background-color: #e8cece;
}

.buttonRightSize {
  width: 1.4925373134%;
  height: 12.6865671642%;
  border-radius: 0 10px 10px 0;
  background-color: #e8cece;
}

.backButtonLeftSize {
  width: 1.4925373134%;
  height: 12.6865671642%;
  border-radius: 10px 0 0 10px;
  background-color: #e8cece;
}

.backButtonRightSize {
  width: 1.4925373134%;
  height: 8.4615384615%;
  border-radius: 0 10px 10px 0;
  background-color: #e8cece;
}

.iconKey {
  width: 50px;
  height: 50px;
  padding: 9.5px;
  border-radius: 100%;
  margin: 0 10px 0 10px;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

.iconColor {
  position: relative;
  font-size: 30px;
  color: #dddf89;
  z-index: 2;
}

.mask {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 0;
  left: 0;
  border-radius: 100%;
  background-color: #dddf89;
  opacity: 0.3;
  z-index: 1;
}

.iconKey1 {
  width: 40px;
  height: 40px;
  padding: 3%;
  border-radius: 100%;
  margin: 0 10px 0 10px;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

.iconWhite {
  position: relative;
  font-size: 22px;
  color: #fff;
  z-index: 2;
}

.whiteMask {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 0;
  left: 0;
  border-radius: 100%;
  background-color: #5a5a51;
  opacity: 0.3;
  z-index: 1;
}

.buttonStyle {
  width: 20%;
  height: 65%;
  margin-top: 2%;
  border-radius: 10px;
  background-color: #e3e3e3;
  -webkit-box-shadow: 2px 2px 5px #494949;
          box-shadow: 2px 2px 5px #494949;
  margin: auto auto;
  cursor: pointer;
}
.buttonStyle p {
  text-align: center;
  line-height: 4;
}
.buttonStyle.press {
  -webkit-box-shadow: 3px 3px 10px #494949 inset;
          box-shadow: 3px 3px 10px #494949 inset;
}

.buttonStyleIn {
  width: 20%;
  height: 65%;
  border-radius: 10px;
  margin-top: 2%;
  background-color: #e3e3e3;
  text-align: center;
  line-height: 40px;
  -webkit-box-shadow: 3px 3px 10px #494949 inset;
          box-shadow: 3px 3px 10px #494949 inset;
  cursor: pointer;
}

.animation {
  -webkit-animation: cube-rotate 15s infinite ease;
          animation: cube-rotate 15s infinite ease;
}

.font {
  font-family: "Klee One";
  font-weight: 700;
}

.closeAnimation {
  -webkit-animation: closewidth 1s both, closeheight 0.5s both 0.8s;
          animation: closewidth 1s both, closeheight 0.5s both 0.8s;
}

.openAnimation {
  -webkit-animation: openheight 0.5s both, openwidth 1s both 0.3s;
          animation: openheight 0.5s both, openwidth 1s both 0.3s;
}

@-webkit-keyframes cube-rotate {
  0% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  50% {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
  100% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
}

@keyframes cube-rotate {
  0% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  50% {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
  100% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
}
@-webkit-keyframes cube-rotate1 {
  0% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  50% {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
  100% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
}
@keyframes cube-rotate1 {
  0% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  50% {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
  100% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
}
@-webkit-keyframes closewidth {
  0% {
    width: 50%;
    height: 70%;
  }
  100% {
    width: 1%;
  }
}
@keyframes closewidth {
  0% {
    width: 50%;
    height: 70%;
  }
  100% {
    width: 1%;
  }
}
@-webkit-keyframes closeheight {
  0% {
    margin-top: 50px;
    height: 70%;
  }
  100% {
    margin-top: -100px;
    height: 1%;
  }
}
@keyframes closeheight {
  0% {
    margin-top: 50px;
    height: 70%;
  }
  100% {
    margin-top: -100px;
    height: 1%;
  }
}
@-webkit-keyframes openwidth {
  0% {
    width: 1%;
  }
  100% {
    width: 50%;
    height: 70%;
  }
}
@keyframes openwidth {
  0% {
    width: 1%;
  }
  100% {
    width: 50%;
    height: 70%;
  }
}
@-webkit-keyframes openheight {
  0% {
    margin-top: -100px;
    height: 1%;
  }
  100% {
    margin-top: 50px;
    height: 70%;
  }
}
@keyframes openheight {
  0% {
    margin-top: -100px;
    height: 1%;
  }
  100% {
    margin-top: 50px;
    height: 70%;
  }
}
.rightBar {
  position: absolute;
  width: 50%;
  height: 50%;
  right: 0;
}
.rightBar .topLine {
  position: relative;
  width: 20px;
  height: 200px;
  margin-left: 50%;
  background-color: rgb(248, 248, 255);
  -webkit-box-shadow: 5px 0 20px 1px rgba(0, 0, 0, 0.8);
          box-shadow: 5px 0 20px 1px rgba(0, 0, 0, 0.8);
}
.rightBar .topLine::after {
  content: "";
  display: block;
  width: 20%;
  height: 100%;
  margin-left: 20%;
  background-color: #dfcfcf;
  -webkit-box-shadow: 2px 0 10px #948484;
          box-shadow: 2px 0 10px #948484;
}
.rightBar .minLine {
  position: absolute;
  width: 30px;
  height: 40px;
  top: 90%;
  left: -18%;
  background-color: rgb(248, 248, 255);
  -webkit-box-shadow: 5px 0 20px 1px rgba(0, 0, 0, 0.8);
          box-shadow: 5px 0 20px 1px rgba(0, 0, 0, 0.8);
}
.rightBar .minLine::after {
  content: "";
  display: block;
  width: 20%;
  height: 100%;
  margin-left: 20%;
  background-color: #dfcfcf;
  -webkit-box-shadow: 2px 0 10px #948484;
          box-shadow: 2px 0 10px #948484;
}
.rightBar .buttonBox {
  width: 90%;
  height: 40%;
  margin-left: 5%;
  margin-top: 20px;
  border-radius: 20px;
  background-color: rgb(248, 248, 255);
  -webkit-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.8);
          box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.8);
}
.rightBar .buttonBox .buttonInside {
  border: solid 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  height: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.rightBar .buttonBox .buttonInside .button1 p {
  text-align: center;
}
.rightBar .buttonBox .buttonInside .buttonStyle:not(.button2):active {
  -webkit-box-shadow: 3px 3px 10px #494949 inset;
          box-shadow: 3px 3px 10px #494949 inset;
}
.rightBar .mes-area {
  width: 1%;
  height: 1%;
  margin: -100px 130px;
  border-radius: 20px;
  background-color: rgb(248, 248, 255);
  overflow: hidden;
}
.rightBar .mes-area .mes-top {
  padding: 20px 0 0 50px;
}
.rightBar .mes-area .add-button {
  display: inline-block;
  border: dashed 2px #948484;
  border-radius: 10px;
}
.rightBar .mes-area .add-button p {
  margin: 10px 20px;
}
.rightBar .mes-area .mes-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.rightBar .mes-area .mes-box {
  width: 70%;
}
.rightBar .mes-area .mes-title, .rightBar .mes-area .mes-text {
  margin: 30px 10px 10px 40px;
}
.rightBar .mes-area .mes-title:nth-child(1) input, .rightBar .mes-area .mes-text:nth-child(1) input {
  width: 100%;
}
.rightBar .mes-area .mes-title:nth-child(2) input, .rightBar .mes-area .mes-text:nth-child(2) input {
  width: 100%;
}
.rightBar .mes-area .output button {
  margin: 100px 0 0 0;
}

.indexBox {
  position: absolute;
  width: 50%;
  height: 100%;
  left: 0;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}
.indexBox .iphoneOutside {
  position: absolute;
  top: 50px;
  left: 240px;
  width: 320px;
  height: 630px;
  border-radius: 50px;
  background-color: #e8cece;
  -webkit-transform: translateZ(10px);
          transform: translateZ(10px);
}
.indexBox .iphoneOutside .iphoneBlackSide {
  width: 94.0298507463%;
  height: 97.0149253731%;
  border-radius: 40px;
  background-color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.indexBox .iphoneOutside .microphone {
  position: absolute;
  width: 55.5555555556%;
  height: 5.9701492537%;
  border-radius: 0 0 20px 20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: black;
  z-index: 98;
}
.indexBox .iphoneOutside .microphone .sound {
  width: 25.7142857143%;
  height: 8px;
  margin: 9% 0 0 38%;
  background-color: #fff;
  border-radius: 10px;
}
.indexBox .iphoneOutside .microphone .lens {
  width: 15px;
  height: 15px;
  margin: -8% 0 0 70%;
  border-radius: 10px;
  background-color: #fff;
}
.indexBox .iphoneOutside .iphoneInSide {
  width: 93.6507936508%;
  height: 96.9230769231%;
  border-radius: 35px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.indexBox .iphoneOutside .iphoneInSide .indexNo1 {
  width: 100%;
  height: 100%;
  background-size: cover;
  top: 0;
  left: 0;
  border-radius: 35px;
  background-image: url("./img/bgImg.jpg");
  overflow: hidden;
}
.indexBox .iphoneOutside .iphoneInSide .indexNo1 .telecommunications {
  position: relative;
  top: 1.5%;
  left: 3%;
  font-size: 12px;
  color: white;
}
.indexBox .iphoneOutside .iphoneInSide .indexNo1 .wifi {
  position: relative;
  margin: -4% 0 0 83%;
  color: white;
}
.indexBox .iphoneOutside .iphoneInSide .indexNo1 .settingLine {
  position: relative;
  width: 14%;
  height: 0.4%;
  margin: 3% 0 0 81%;
  background-color: #9f9393;
}
.indexBox .iphoneOutside .iphoneInSide .times {
  width: 100%;
  height: 30px;
  margin-top: 6.9230769231%;
  font-size: 18;
  color: white;
}
.indexBox .iphoneOutside .iphoneInSide .times .month {
  text-align: center;
  color: #dddf89;
}
.indexBox .iphoneOutside .iphoneInSide .times .hour {
  text-align: center;
  font-size: 60px;
  color: #dddf89;
}
.indexBox .iphoneOutside .iphoneInSide .shortcutKey {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 28%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.indexBox .iphoneOutside .iphoneInSide .shortcutKey .key1:hover, .indexBox .iphoneOutside .iphoneInSide .shortcutKey .key2:hover, .indexBox .iphoneOutside .iphoneInSide .shortcutKey .key3:hover {
  opacity: 0.8;
}
.indexBox .iphoneOutside .iphoneInSide .messageBox {
  width: 107%;
  height: 50%;
  overflow-y: scroll;
}
.indexBox .iphoneOutside .iphoneInSide .messageBox .title {
  margin: 0 0 20px 5%;
  height: 10%;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.indexBox .iphoneOutside .iphoneInSide .messageBox .title p {
  font-size: 22px;
  color: white;
  font-weight: 560;
}
.indexBox .iphoneOutside .iphoneInSide .messageBox .title span {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  color: white;
  font-size: 16px;
  text-align: center;
  line-height: 30px;
  background-color: #5f4e4e;
}
.indexBox .iphoneOutside .iphoneInSide .messageBox .message {
  position: relative;
  width: 90%;
  height: 25%;
  margin: 2px auto;
  border-radius: 10px;
  color: white;
  padding: 5px;
}
.indexBox .iphoneOutside .iphoneInSide .messageBox .message p {
  position: relative;
  font-size: 16px;
  z-index: 1;
}
.indexBox .iphoneOutside .iphoneInSide .messageBox .message::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  opacity: 0.8;
  background-color: #675b5b;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}
.indexBox .iphoneOutside .iphoneInSide .shortcutBottom {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.indexBox .iphoneOutside .iphoneInSide .shortcutBottom .light {
  position: absolute;
  left: 12%;
}
.indexBox .iphoneOutside .iphoneInSide .shortcutBottom .light:hover .iconWhite, .indexBox .iphoneOutside .iphoneInSide .shortcutBottom .light:hover .whiteMask {
  width: 50px;
  height: 50px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-size: 30px;
}
.indexBox .iphoneOutside .iphoneInSide .shortcutBottom .light:hover .whiteMask {
  opacity: 0.9;
}
.indexBox .iphoneOutside .iphoneInSide .shortcutBottom .cam {
  position: absolute;
  right: 10%;
}
.indexBox .iphoneOutside .iphoneInSide .shortcutBottom .cam:hover .iconWhite, .indexBox .iphoneOutside .iphoneInSide .shortcutBottom .cam:hover .whiteMask {
  width: 50px;
  height: 50px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-size: 30px;
}
.indexBox .iphoneOutside .iphoneInSide .shortcutBottom .cam:hover .whiteMask {
  opacity: 0.9;
}
.indexBox .iphoneOutside .iphoneInSide .bottomLine {
  position: absolute;
  bottom: 1%;
  border: solid 1px #e1dede;
  width: 60%;
  height: 7px;
  background-color: #e1dede;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-radius: 10px;
}
.indexBox .back {
  position: absolute;
  top: 50px;
  left: 240px;
  width: 320px;
  height: 630px;
  border-radius: 50px;
  background-color: #e8cece;
  -webkit-transform: rotateY(180deg) translateZ(10px);
          transform: rotateY(180deg) translateZ(10px);
}
.indexBox .back .backButton {
  width: 100%;
  height: 100%;
}
.indexBox .back .backButton .backInside {
  width: 93.6507936508%;
  height: 96.9230769231%;
  border-radius: 35px;
  background-color: #f5f5f5;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.indexBox .back .backButton .backInside .backLens {
  position: relative;
  width: 42.8571428571%;
  height: 23.1343283582%;
  margin: 3.7313432836% 0 0 3.7313432836%;
  border-radius: 30px;
  border: solid 2px #e8cece;
  -webkit-box-shadow: 1px 1px 10px 0.2px #b6b1b1;
          box-shadow: 1px 1px 10px 0.2px #b6b1b1;
}
.indexBox .back .backButton .backInside .backLens .lens1, .indexBox .back .backButton .backInside .backLens .lens2 {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  margin: 6px 5px;
  background-color: #e8cece;
  padding: 5px;
}
.indexBox .back .backButton .backInside .backLens .lens1 .insideLens, .indexBox .back .backButton .backInside .backLens .lens2 .insideLens {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: #4f4949;
}
.indexBox .back .backButton .backInside .backLens .bigLight {
  position: absolute;
  right: 18.5185185185%;
  top: 18.5185185185%;
  width: 16px;
  height: 16px;
  border-radius: 100%;
  background-color: #9d8b8b;
}
.indexBox .back .backButton .backInside .backLens .smallLight {
  position: absolute;
  right: 14.8148148148%;
  top: 40.7407407407%;
  width: 22.2222222222%;
  height: 20%;
  border-radius: 100%;
  background-color: #cecb0d;
}
.indexBox .back .backButton .picApple {
  position: absolute;
  width: 23.8095238095%;
  height: 11.5384615385%;
  top: 41.5384615385%;
  left: 38.0952380952%;
}
.indexBox .back .backButton .picApple img {
  width: 100%;
  height: 100%;
}
.indexBox .left {
  position: absolute;
  top: 83px;
  left: 233px;
  width: 20px;
  height: 564.1791044776px;
  background-color: #e8cece;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: rotateY(-90deg);
          transform: rotateY(-90deg);
}
.indexBox .left::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 7.4626865672%;
  background-color: #e8cece;
  top: -20px;
  -webkit-transform: rotateX(45deg) translateZ(-2px) translateY(-15px);
          transform: rotateX(45deg) translateZ(-2px) translateY(-15px);
}
.indexBox .left::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 8.9552238806%;
  background-color: #e8cece;
  top: 563px;
  -webkit-transform: rotateX(-45deg) translateZ(-19px) translateY(2px);
          transform: rotateX(-45deg) translateZ(-19px) translateY(2px);
}
.indexBox .left .mute1 {
  position: absolute;
  width: 20%;
  height: 4%;
  top: 10.8%;
  left: 35%;
  background-color: #e8cece;
  border-radius: 5px;
  border: solid 0.3px;
  -webkit-box-shadow: 0 0 2px;
          box-shadow: 0 0 2px;
  -webkit-perspective: 150px;
          perspective: 150px;
  -webkit-transform: translateZ(2px);
          transform: translateZ(2px);
}
.indexBox .left .muteBox {
  width: 40%;
  height: 4.2307692308%;
  background-color: #000;
  margin: 300% 0 0 30%;
  border-radius: 5px;
  background-color: #7f0000;
}
.indexBox .left .soundPlus {
  position: relative;
  margin: 38px 6px 0 6px;
  width: 8px;
  height: 50px;
  border-radius: 50px;
  -webkit-box-shadow: 0px 0px 4px #494949;
          box-shadow: 0px 0px 4px #494949;
  background-color: #e8cece;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: translateZ(8px);
          transform: translateZ(8px);
}
.indexBox .left .soundPlus p {
  position: absolute;
  font-size: 12px;
  left: 8%;
  top: 10%;
  font-weight: 700;
}
.indexBox .left .soundPlus::after {
  position: absolute;
  content: "";
  display: block;
  width: 108%;
  height: 90%;
  left: 100%;
  top: 0;
  background-color: #e8cece;
  -webkit-box-shadow: 1px 1px 4px #494949 inset;
          box-shadow: 1px 1px 4px #494949 inset;
  -webkit-transform: rotateX(0deg) rotateY(90deg) translateX(5px) translateZ(-4px) translateY(2px);
          transform: rotateX(0deg) rotateY(90deg) translateX(5px) translateZ(-4px) translateY(2px);
}
.indexBox .left .soundPlus::before {
  position: absolute;
  content: "";
  display: block;
  width: 108%;
  height: 90%;
  left: 100%;
  top: 0;
  background-color: #e8cece;
  -webkit-box-shadow: 1px 1px 4px #494949 inset;
          box-shadow: 1px 1px 4px #494949 inset;
  -webkit-transform: rotateX(0deg) rotateY(90deg) translateX(4px) translateZ(-13px) translateY(2px);
          transform: rotateX(0deg) rotateY(90deg) translateX(4px) translateZ(-13px) translateY(2px);
}
.indexBox .left .soundMinus {
  position: relative;
  margin: 12px 6px;
  width: 8px;
  height: 50px;
  border-radius: 50px;
  -webkit-box-shadow: 0px 0px 4px #494949;
          box-shadow: 0px 0px 4px #494949;
  background-color: #e8cece;
  -webkit-transform: translateZ(8px);
          transform: translateZ(8px);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}
.indexBox .left .soundMinus p {
  position: absolute;
  left: 10%;
  font-size: 16px;
  margin-top: 15px;
}
.indexBox .left .soundMinus::after {
  position: absolute;
  content: "";
  display: block;
  width: 108%;
  height: 90%;
  left: 100%;
  top: 0;
  background-color: #e8cece;
  -webkit-box-shadow: 1px 1px 4px #494949 inset;
          box-shadow: 1px 1px 4px #494949 inset;
  -webkit-transform: rotateX(0deg) rotateY(90deg) translateX(5px) translateZ(-4px) translateY(2px);
          transform: rotateX(0deg) rotateY(90deg) translateX(5px) translateZ(-4px) translateY(2px);
}
.indexBox .left .soundMinus::before {
  position: absolute;
  content: "";
  display: block;
  width: 108%;
  height: 90%;
  left: 100%;
  top: 0;
  background-color: #e8cece;
  -webkit-box-shadow: 1px 1px 4px #494949 inset;
          box-shadow: 1px 1px 4px #494949 inset;
  -webkit-transform: rotateX(0deg) rotateY(90deg) translateX(4px) translateZ(-13px) translateY(2px);
          transform: rotateX(0deg) rotateY(90deg) translateX(4px) translateZ(-13px) translateY(2px);
}
.indexBox .right {
  position: absolute;
  top: 83px;
  left: 547px;
  width: 20px;
  height: 564.1791044776px;
  background-color: #e8cece;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: rotateY(90deg);
          transform: rotateY(90deg);
}
.indexBox .right::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 7.4626865672%;
  background-color: #e8cece;
  top: -20px;
  -webkit-transform: rotateX(45deg) translateZ(0px) translateY(-20px);
          transform: rotateX(45deg) translateZ(0px) translateY(-20px);
}
.indexBox .right::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 7.4626865672%;
  background-color: #e8cece;
  top: 563px;
  -webkit-transform: rotateX(-45deg) translateZ(-15px) translateY(8px);
          transform: rotateX(-45deg) translateZ(-15px) translateY(8px);
}
.indexBox .right .text {
  position: relative;
  margin: 130px 6px;
  width: 8px;
  height: 80px;
  border-radius: 50px;
  -webkit-box-shadow: 0px 0px 4px #494949;
          box-shadow: 0px 0px 4px #494949;
  background-color: #e8cece;
  -webkit-transform: translateZ(8px);
          transform: translateZ(8px);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}
.indexBox .right .text p {
  position: absolute;
  text-align: center;
  font-size: 12px;
  top: 25%;
  left: -1px;
}
.indexBox .right .text::after {
  position: absolute;
  content: "";
  display: block;
  width: 108%;
  height: 90%;
  left: 100%;
  top: 0;
  background-color: #e8cece;
  -webkit-box-shadow: 1px 1px 4px #494949 inset;
          box-shadow: 1px 1px 4px #494949 inset;
  -webkit-transform: rotateX(0deg) rotateY(90deg) translateX(5px) translateZ(-4px) translateY(2px);
          transform: rotateX(0deg) rotateY(90deg) translateX(5px) translateZ(-4px) translateY(2px);
}
.indexBox .right .text::before {
  position: absolute;
  content: "";
  display: block;
  width: 108%;
  height: 90%;
  left: 100%;
  top: 0;
  background-color: #e8cece;
  -webkit-box-shadow: 1px 1px 4px #494949 inset;
          box-shadow: 1px 1px 4px #494949 inset;
  -webkit-transform: rotateX(0deg) rotateY(90deg) translateX(4px) translateZ(-13px) translateY(2px);
          transform: rotateX(0deg) rotateY(90deg) translateX(4px) translateZ(-13px) translateY(2px);
}
.indexBox .top {
  position: absolute;
  top: -105px;
  left: 240px;
  width: 20px;
  height: 320px;
  background-color: #000;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: rotateY(90deg) rotateX(90deg);
          transform: rotateY(90deg) rotateX(90deg);
}
.indexBox .top::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 3.7313432836%;
  background-color: #e8cece;
  top: 180px;
  -webkit-transform: rotateX(30deg) translateZ(-7px) translateY(6.5px);
          transform: rotateX(30deg) translateZ(-7px) translateY(6.5px);
}
.indexBox .top::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 3.7313432836%;
  background-color: #e8cece;
  top: 440px;
  -webkit-transform: rotateX(-30deg) translateZ(-3px) translateY(0.5px);
          transform: rotateX(-30deg) translateZ(-3px) translateY(0.5px);
}